# Xcode
DerivedData/
xcuserdata/
*.xcscmblueprint
*.xccheckout

# VSCode
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives
*.xcarchive

# Ignore built products
*.app
*.ipa
*.dSYM
*.xcworkspace

# Symbolication
*.bcsymbolmap

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Logs
*.log
*.crash

# Temporary files
*.swp
*.swo
*.swn
*.tmp
*.bak
*.orig
